# Appwrite Configuration
VITE_APPWRITE_PROJECT_ID = "your_project_id"
VITE_APPWRITE_PROJECT_NAME = "PrintGo_Smart"
VITE_APPWRITE_ENDPOINT = "https://fra.cloud.appwrite.io/v1"
VITE_APPWRITE_DATABASE_ID = "your_database_id"
VITE_APPWRITE_COLLECTION_ID = "printgo_db"
VITE_APPWRITE_BUCKET_ID = "print_files"

# Razorpay Payment Gateway
VITE_RAZORPAY_KEY_ID = "rzp_test_SMGbYtZZW1QoBd"
RAZORPAY_KEY_SECRET = "Sfxyl3OoK5W9xxJ47LWJ8wwd"
"
